.venv/
out/
obj/
tests/*.gcno
tests/*.d
tests/*.bin
tests/__pycache__
coverage.* 
callgrind.* 
report.*
massif.*
ppm2jpeg
metrics.json
images/tests/terre.jpg
images/tests/terre.ppm
images/tests/terre.pgm
images/tests/terre_ppm.jpg
images/tests/terre_pgm.jpg
gmon.out
